/* HeroDetailComponent's private CSS styles */

h2 {
  padding-top: 50px;
  font-family: 'Montserrat', sans-serif;
}

label {
    color: #435960;
    font-weight: bold;
}
input {
  font-size: 1em;
  padding: .5rem;
}

button {
  margin-top: 20px;
  margin-bottom: 20px;
  background-color: #eee;
  /* padding: 1rem; */
  border-radius: 4px;
  font-size: 1rem;
}
button:hover {
  background-color: #cfd8dc;
}
button:disabled {
  background-color: #eee;
  color: #ccc;
  cursor: auto;
}

.go-back {
  margin-right: 10px;
}