<h2>My Heroes</h2>
<ul class="heroes">
    <li *ngFor="let hero of heroes">
        <div>
            <img src="https://img.icons8.com/carbon-copy/2x/image.png"/>
        </div>

        <!-- trying to figure out how to use {{hero.photo}} to display different photos for each hero -->

        <!-- <img src="{{hero.photo}}"/> -->
        
        <button mat-raised-button color="accent" routerLink="/detail/{{hero.id}}" class="heroButton">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </button>
        
        <!--<a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}} 
        </a>-->
        <button mat-raised-button color="accent" class="delete" title="delete hero"(click)="delete(hero)">x</button>
    </li>
    
</ul>

<div class="add-hero-input">
    
        <form class="hero-input">
            <mat-form-field>
                <mat-label>Hero name</mat-label>
                <input matInput placeholder="Ex. Captain Marvel" id="new-hero" #heroName>
            </mat-form-field>
        </form>

    <button class="add-button" mat-raised-button color="accent" (click)="add(heroName.value); heroName.value=''">
      Add hero
    </button>

  </div>

